* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#number {
    width: 300px;
    margin-left: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

#header__surgalt {
    margin-left: 50%;
}

#logo-txt {
    font-size: 24px;
    font-weight: bold;
    width: 10%;
}

#socials {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 78%;
    margin-right: 5%;
}

.hero {
    width: 100%;
    height: 88vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#hero__register {
    background-color: #A7332F;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 50px;
}

#companies {
    width: 100%;
    height: 101px;
    background-color: #E7E7E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#description {
    width: 45%;
    text-align: center;
    margin: auto auto;
    padding: 30px;
    color: #666666;
}

.services {
    display: flex;
    justify-content: center;
}

#hero__img {
    background-image: url(./img/hero.jpg);
    width: 920px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#hero__CTA {
    margin-bottom: 50px;
}

#block {
    width: 300px;
    border: white 10px;
    height: 180px;
    background-color: #717171;
    margin: 10px;
}

#services__texts {
    display: block;
    text-align: center;
}

.service__blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

footer {
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 10%;
    background-color: black;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#unbold {
    font-weight: normal;
}

.footer>h3 {
    padding: 15px;
}